block variables
  -var body_css=''
include mixins/icons.pug
include mixins/svg.pug
include mixins/lists.pug
include mixins/diagram.pug
doctype html
html
  head
    include common/_head
  body
    .page-wrap(class=body_css)
      include common/_header
      div#content
        block content
    include common/_footer