block variables
include mixins/icons.pug
include mixins/svg.pug
include mixins/lists.pug
include mixins/diagram.pug
doctype html
html
  head
    include common/_head_admin
  body
    .page-wrap(class='page-wrap')
      div.content(class= "content")
        block content
