.review {
  position: relative;
  padding-top: 70px;
}

.icon-stars3 {
  position: absolute;
  top: 32px;
  left: 50%;
  margin-left: -86.5px;
  width: 173px;
  height: 202px;
  opacity: 0.15;
  fill: $base-bg-color;
}

.review__group {
  margin: auto;
  margin-bottom: 69px;
  width: 810px;
  color: $review_text;
  text-align: center;
}

.review__blk {
  display: inline-block;
  padding: 0 13px;
  width: 375px;
  background: url("/assets/img/quotes.png") no-repeat 20px 65px;
  font-size: 16px;
}

.review__photo-block {
  display: block;
  overflow: hidden;
  margin: 0 auto 15px auto;
  width: 77px;
  height: 77px;
  border-radius: 100%;
}

.review__photo-img {
  height: 100%;
}

.review__content {
  margin-bottom: 20px;
  text-align: left;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
}

.review__user_name {
  font-weight: 700;
}

.review__user_dop_line {
  display: block;
  font-weight: 300;
  font-style: italic;
}

.review__user_firm {

}

.feadback {
  overflow: hidden;
  margin: auto;
  margin-bottom: 70px;
  width: 380px;
  background: $form_fead_back_bg;
}