header#header
    block header_up
    .container
        .logo_blk
            .logo
                .logo_img
                    img(src="/assets/img/my_photo.jpg",alt="Матюхин Максим")
                .my_name Матюхин Максим
                span Личный сайт веб разработчика
            include _social
            .menu_blk
                +icon('hamburger')
                include _site_menu
        block dop_menu
    block dop_up_element