header.header(class= 'header_'+body_css)
    block header_up
    .header__container(class='header__container_'+body_css)
        .header__about-block
            .header__logo-block(class='header__logo-block_'+body_css)
                img.header__logo-img(src="/assets/img/my_photo.jpg",alt="Матюхин Максим")
            .header__title Матюхин Максим
                span.header__sub-title Личный сайт веб разработчика
            block header_about
        block dop_menu
    block dop_up_element