-
    var nav_list=[
        {
            text:'Мои работы',
            href:'works.html'
        },{
            text:'Обо мне',
            href:'about.html'
        },{
            text:'Блог',
            href:'blog.html'
        }
    ]
+list_menu(nav_list,'welcome-menu')