-
    var nav_list=[
        {
            text:'Стартовая',
            href:'/'
        },{
            text:'Мои работы',
            href:'works.html'
        },{
            text:'Обо мне',
            href:'about.html'
        },{
            text:'Блог',
            href:'blog.html'
        }
    ]

+icon_font('bars','header-menu-button')
+list_menu(nav_list,'header-menu')