section#slider
    //-ul
      li
         img(src="/assets/img/work-1.png",alt='Работа 1')
         a.title(href="/") Работа 1
         ul.skills
           li HTML
           li CSS
           li JAVASCRIPT
    .this_slide
        .title Сайт школы онлайн образования
        ul.skills
            li HTML
            li CSS
            li JAVASCRIPT
        a.links(href="/",target="_blank")
            +icon_svg('link')
            | Посмотреть сайт
    .sliders_control
        .hear_slide
            img(src="/assets/img/work-1.png")
        .prew_slile
            +icon_svg("portf_arrow_down")
            img(src="/assets/img/work-2.png")
        .next_slile
            +icon_svg("portf_arrow_up")
            img(src="/assets/img/work-3.png")