section.slider
    ul.slider-home
      li
         a.image(href="/assets/img/work-1.png")
            img(src="/assets/img/work-1.png",alt='Работа 1')
         a.title(href="/") Работа 1
         ul.skills
           li html
           li css
           li javascript
