section.slider
    ul
      li
         img(src="/assets/img/work-1.png",alt='Работа 1')
         a.title(href="/") Работа 1
         ul.skills
           li HTML
           li CSS
           li JAVASCRIPT
