-
    var social_list=[
        {
            text:'vk',
            href:'https://vk.com/settler_mar',
            icon:'vk',
            target:'_blank'
        },{
            text:'github',
            href:'https://github.com/settler-mar',
            icon:'github-alt',
            target:'_blank'
        },{
            text:'linkedin',
            href:'https://vk.com/settler_mar',
            icon:'linkedin',
            target:'_blank'
        }
    ]
+link_list(social_list,'social-buttons',social_modificator)