.my_linc
    a.vk(href="https://vk.com/settler_mar")
        +icon('vk')
    a.git(href="https://github.com/settler-mar")
        +icon('github')
    a.li(href="https://vk.com/settler_mar")
        +icon('in')