#maps{
  height: 100vh;
  width: 100vw;
}
.icon-about_bg_right{
  width: 1100px;
  height: 360px;
  left: 50%;
  bottom: 0;
  position: absolute;
  fill:$about_bg_right;
}
.icon-about_bg_left{
  width: 1100px;
  right: 50%;
  bottom: 0;
  position: absolute;
  height: 360px;
  fill:$about_bg_left;
}
.about #content{
  position: relative;
  font-size: 0;
  >div{
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .left_blk{
    background: $about_bg_left;
  }
  .right_blk{
    background:$about_bg_right;
  }
}

.skills {
}
.skills__lists {
}
    .circle {
      display: inline-block;
      color: #243994;
      font-size: 13px;
      font-weight: 500;
      line-height: 29px;
      svg {
        width: 180px;
        height: 180px;
      }
    }

