.animation_shirma:before {
  left: 0;
}

.animation_shirma:after {
  right: 0;
}

.animation_shirma:before,
.animation_shirma:after {
  top: 0;
  width: 1%;
  height: 100%;
  opacity: 0;
  animation: animation_shirma 1s forwards;
}

.animation_fadeOut:before,
.animation_fadeOut:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  animation: animation_fadeOut 1s forwards;
}

.item-hide {
  animation: animation_item-hide 0.2s forwards;
}

.item-show {
  animation: animation_item-show 0.5s forwards;
}


@keyframes animation_shirma {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 0.5;
    width: 100%;
  }
}

@keyframes animation_fadeOut {
  from {
    width: 100%;
    opacity: 0.5;
  }
  to {
    width: 100%;
    opacity: 0;
  }
}

@keyframes animation_item-show {
  from {
    transform: rotateX(-90deg) translateX(-20px);
  }
  to {
    transform: rotateX(0deg) translateX(0px);
  }
}

@keyframes animation_item-hide {
  to {
    transform: rotateX(-90deg) translateX(-20px);
  }
  from {
    transform: rotateX(0deg) translateX(0px);
  }
}