.autorisation_menu__form{

}
.autorisation_menu {
  padding: 40px 0 0 0;
  color: $text-header;
  background: $logo_a_fon;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  transform: translateZ(-1000px) rotateY(-90deg);
  transition: all 0.35s ease;
}
.autorisation_menu__title{
  font-family: SansusWebissimo;
  font-size: 35px;
  font-weight: 400;
  line-height: 41px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.autorisation_target:target~.auth_button{
  opacity: 0;
  height: 0%;
  padding: 0 40px;
}
.autorisation_target:target~.header__container .header__about-block{
  transform: translateZ(-1000px) rotateY(90deg);
  transition: all 0.35s ease;
}
.autorisation_target:target~.header__container .autorisation_menu{
  transform: translateZ(0) rotateY(0);
  transition: all 0.35s ease 0.35s;
}