$base-color: #3b46d1;
$bt:#004cd1;
$bt-hover: #043ea3;
$text-header:#fff;
$icon-hover:#004cd1;
$logo_a_fon: rgba(28, 31, 41,0.5);
$footer_bg:#1c1f29;
$footer_bg_cr:#083c96;
$footer_text:#fff;
$input_icon_color:#c4cbcd;
$input_icon_bg:#f0efe9;
