body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: $base-bg-color;
  overflow-x: hidden;
}
h1{
  color:$base-bg-color;
  font-family: SansusWebissimo;
  font-size: 63px;
  font-weight: 400;
  line-height: 56px;
  text-transform: uppercase;
}
a{
  transition: all linear 0.3s;
  cursor: pointer;
}
label{
  display: block;
  margin: 20px 0 20px 0;
  width: 270px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  svg{
    height: 44px;
    width: 45px;
    box-sizing: border-box;
    fill:$input_icon_color;
    background: $input_icon_bg;
    border: 13px solid $input_icon_bg;
    float: left;
    margin-right: -45px;
    +input{
      margin-left: 45px;
      width: 225px;
    }
  }
  input[type=checkbox]{
    display: none;
    +svg{
      fill:$input_checkbox_fon;
      background: $input_checkbox_fon;
      border: 4px solid $input_checkbox_border;
      border-radius:2px;
      height: 20px;
      width: 20px;
      float: none;
      margin: 2px 10px 2px 0;
      vertical-align: top;
      transition: all 0.2s ease;
    }
  }
  input[type=checkbox]:checked{
    +svg{
      fill:$input_checkbox_text;
     }
  }
  input{
    outline: none;
    border: 0;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  input[type=text]{
    display: block;
  }
  input[type=radio]{
    display: none;
    +span{
      opacity: 1;
      height: 20px;
      width: 20px;
      background: $input_checkbox_fon;
      box-shadow: $input_checkbox_text 0px 0px 0px 10px inset;
      border-radius: 100%;
      vertical-align: top;
      margin-right: 10px;
      transition: all 0.2s ease;
    }
  }
  input[type=radio]:checked{
    +span{
      box-shadow: $input_checkbox_text 0px 0px 0px 6px inset;
    }
  }
}
form{
  span{
    opacity: 0.8;
  }
}
.recapcha{
  span{
    font-size: 16px;
    font-weight: 700;
    line-height: 12px;
    display: block;
    margin-bottom: 10px;
  }
  label{
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 106px;
    text-align: left;
    span {
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}