$base-color: #3b46d1;
$base-bg-color:#fff;
$head-dop-color: rgba(13, 17, 32,0.85);
$bt:#004cd1;
$bt-hover: #043ea3;
$text-header:#fff;
$icon-hover:#004cd1;
$logo_a_fon: rgba(28, 31, 41,0.5);
$footer_bg:#1c1f29;
$footer_bg_cr:#083c96;
$footer_text:#fff;
$input_icon_color:#c4cbcd;
$input_icon_bg:#f0efe9;
$input_checkbox_fon:#0548be;
$input_checkbox_text:#eef3fb;
$input_checkbox_border:#0548be;
$input_radio_border:#ccc;

$hear_slide_bg:#e3e2de;
$ofter_slider_shirma_l:rgba(170, 171, 183, 0.7);;
$ofter_slider_shirma_r:rgba(126, 127, 138, 0.7);;
$slider_chenger:#fff;
$slider_chenger_shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
$slide_this_fon:#f2f0e8;
$slide_this_text:#474b57;
$slide_skill:#083c96;
$slide_href_bg:#004cd1;