.footer {
  text-align: center;
  color: $footer_text;
  width: 100%;
  position: relative;
}
.footer__copyright{
  background: $footer_bg_cr;
  color:$footer_text;
  font-size: 16px;
  font-weight: 300;
  line-height: 48px;
  padding: 0;
}
.footer__full-menu {
  background: $dop_footer_bg;
  display: table;
  width: 100%;
}
.footer__full-menu__column{
      display: table-cell;
      vertical-align: top;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      text-align: left;
      padding: 26px 30px;
}
.footer__full-menu__column:before{
  content: "";
  background: $footer_text;
  width: 1px;
  height: 87px;
  display: block;
  float: left;
  opacity: 0.2;
  margin-top: 4px;
  margin-left: -30px;
}
.footer__full-menu__column:first-child:before{
  display: none;
}
.footer {
  ul {
    margin: 0 0 46px 0;
    padding: 0;
    white-space: nowrap;
    li {
      list-style: none;
      display: inline-block;
      margin-right: 40px;
      a {
        text-decoration: none;
        color: $footer_text;
        font-family: "Roboto-Bold";
        font-weight: 700;
      }
    }
    li:first-child {
      display: none;
    }
    li:last-child {
      margin-right: 0px;
    }
  }
  .my_linc {
    position: relative;
    top: 0;
    left: 0;
    line-height: 13px;
    a {
      margin-right: 17px;
    }
    svg {
      opacity: 0.2;
    }
    a:hover svg {
      opacity: 1;
    }
  }
}

.footer-index {
  position: absolute;
  bottom: 0;
  height: auto;
}
.footer__copyright-index{
  background: transparent;
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.footer__full-menu-index{
  display: none;
}


//прибить подвал
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -48px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  height: 48px;
}
.page-wrap.index:after{
  height: auto;
}