.header {
  background: url(/assets/img/bg_1800.jpg) no-repeat 0 50%;
  background-size: cover;
  text-align: center;
  height: 300px;
  padding-bottom: 377px;
  position: relative;
  padding-top: 108px;
}
.header__container {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  position: relative;
}

.header__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  font-family: Roboto-Bold;
  margin-bottom:18px;
}
.header__sub-title{
  opacity: 0.8;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  display: block;
  font-family: Roboto-Italic;
}
.header__about-block{
  position: relative;
  padding: 40px 0 0;
  display: inline-block;
  color: $text-header;
  margin: 0;
  width: 380px;
}
.header__logo-block {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 10px;
}
.header__logo-img {
  height: 140px;
}

.header-menu{
  display: none;
}
.welcome-menu__link{
  transition: all linear 0.3s;
  color: $text-header;
  cursor: pointer;
}
.header-menu__link{
  transition: all linear 0.3s;
  color: $text-header;
  cursor: pointer;
}
.header-menu__link:hover{
  color: $icon-hover;
}
.welcome-menu{
  display: table;
  width: 100%;
}
.welcome-menu__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: table-row;
}
.header-menu__item_index{
  display: table-cell;
}
.header-menu__item_linc{
  text-decoration: none;
}
.auth_button{
  position: absolute;
  text-decoration: none;
  border: 1px solid white;
  top:24px;
  right: 20px;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 29px;
  color: $text-header;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s ease;
}

.icon-bg{
  fill:$base-bg-color;
  width: 2032px;
  font-size: 64px;
  position: absolute;
  left: 50%;
  height: 360px;
  margin-left: -1016px;
  bottom: 0;
}
.icon-stars1{
  fill:$base-bg-color;
  position: absolute;
  left: 50%;
  top: 109px;
  width: 460px;
  height: 270px;
  opacity: 0.07;
  margin-left: -230px;
}
.icon-stars2{
  fill:$base-bg-color;
  position: absolute;
  left: 50%;
  top: 600px;
  width: 260px;
  height: 171px;
  opacity: 0.15;
  margin-left: -130px;
  transform: rotate(-180deg)
}
.icon-arrow_down {
  fill:$base-bg-color;
  position: absolute;
  left: 50%;
  margin-left: -13px;
  top: 100vh;
  margin-top: -100px;
  width: 26px;
  height: 16px;
  opacity: 0.7;
  cursor: pointer;
  transition: all linear 0.3s;
}
.icon-arrow_down:hover{
  fill: $icon-hover;
}

.header:before{
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.header_index {
  height: 100vh;
  padding-bottom: 0px;
  padding-top: 0px;
}

.container{
  position: relative;
}

.header-social_index {
  padding: 12px;
  color:$icon-hover;
  position: relative;
  left: 0;
  top: 0;
  font-size: 30px;
}
.header-social__link_index{
  color: $icon-hover;
  opacity: 0.7;
}
.header-social__linc_index:hover{
  opacity: 1;
}
.header-social__item_index{
  margin: 0 17px 25px;
}
.header__menu {
  top: auto;
  bottom: 0%;
  left: 0;
  display: table;
  width: 100%;
  position: absolute;
}
.welcome-menu__list {
  list-style: none;
  display: table-row;
  margin: 0;
  padding: 0;
}
.welcome-menu__item {
  display: table-cell;
  border-right: 1px solid $text-header;
}
.welcome-menu__link{
  color:$text-header;
  background: $bt;
  padding: 14px;
  text-decoration: none;
  display: block;
}
.welcome-menu__link:hover{
  background: $bt-hover;
  color:$text-header-hover;
}
.welcome-menu__link:active{
  text-decoration: underline;
}
.welcome-menu__item:last-child{
  border-right: 0;
}


.header__about-block_index {
  background: $logo_a_fon;
  transform: translateZ(0) rotateY(0);
  transition: all 0.35s ease 0.35s;
  min-width: 250px;
}





/*
.works #header {
  svg.icon-bg {
    fill:$head-dop-color;
  }
  h1{
    position: absolute;
    top: 625px;
    width: 100%;
  }
}*/