.paralax {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @include media($tablets){
    display: none;
  }
}

.paralax-control {
  margin: 0;
  padding: 0;
}

.paralax__layer {

}

.paralax__layer-image {
  margin-top: 30vh;
  margin-left: -10vw;
  width: 120vw;
  height: 100vh;
  background: url(/assets/img/bg_paralax.png) no-repeat 50% 50%;
  background-size: cover;
}