.social-buttons__linc_index:hover {
  opacity: 1;
}

.social-buttons {
  position: absolute;
  top: 28px;
  left: 30px;
  @include media($phones){
    top: 16px;
    left: 10px;
  }
}

.social-buttons__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-buttons__item {
  display: inline-block;
  margin: 0 0 0 30px;
  padding: 0;
}

.social-buttons__link {
  color: $text-header;
  text-decoration: none;
  font-size: 28PX;
  transition: all linear 0.3s;
  @include media($phones){
    font-size: 22PX;
  }
  &:hover {
    color: $icon-hover;
    opacity: 1;
  }
}
.social-buttons__link_footer{
  font-size: 28PX;
}
.social-buttons__item-name {
  display: none;
}


.social-buttons__item_index {
  margin: 0 0 25px 24px;
}
.social-buttons__item:first-child{
  margin-left:0;
}
.social-buttons_index {
  position: relative;
  top: 0;
  left: 0;
  color: $icon-hover;
  font-size: 30px;
  margin-bottom: 10px;
}

.social-buttons__link_index {
  color: $icon-hover;
  opacity: 0.7;
}

.social-buttons_footer {
  position: relative;
  top: 0;
  left: 0;
}