.block-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.vjs-big-play-button {
  display: none;
}

.vjs-control-bar {
  display: none;
}

.vjs-hidden {
  display: none;
}