#review {
  padding-top: 70px;
  position: relative;
  .icon-stars3{
    fill:$base-bg-color;
    position: absolute;
    left: 50%;
    top: 32px;
    width: 173px;
    height: 202px;
    opacity: 0.15;
    margin-left: -86.5px;
  }
  h2{
    color:$base-bg-color;
    font-family: SansusWebissimo;
    font-size: 63px;
    font-weight: 400;
    line-height: 66px;
    text-transform: uppercase;
    margin: auto;
    width: 350px;
    text-align: center;
    margin-bottom: 60px;
  }
  .re_group {
    text-align: center;
    width: 810px;
    margin: auto;
    color: $review_text;
    margin-bottom: 69px;
    .re_blk {
      padding: 0 13px;
      font-size: 16px;
      width: 375px;
      display: inline-block;
      background:url("/assets/img/quotes.png") no-repeat 20px 65px;
      .logo_img {
        height: 77px;
        width: 77px;
        overflow: hidden;
        border-radius: 100%;
        margin: 0 auto 15px auto;
        display: block;
        img {
          height: 100%;
        }
      }
      .review{
        font-style: italic;
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        text-align: left;
        margin-bottom: 20px;
      }
      .r_name {
        font-weight: 700;
        span {
          font-weight: 300;
          display: block;
          font-style: italic;
        }
      }
    }
    /*.re_blk:before{
      content: '\201C';
    }*/
  }
}
/*#feadback:before{
  background: url(/assets/img/bg_about.jpg) 50% no-repeat;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top:0;
  filter: blur(5px);
}*/
#feadback{
  overflow: hidden;
  width: 380px;
  margin: auto;
  background: $form_fead_back_bg;
  margin-bottom: 156px;
  h2{
    color: $form_fead_back_h;
    font-family: SansusWebissimo;
    font-size: 35px;
    font-weight: 400;
    line-height: 41px;
    text-transform: uppercase;
    margin-top: 40px;
    text-align: center;
  }
  h2:after{
    content: '';
    background: $form_fead_back_h_line;
    width: 89px;
    height: 3px;
    opacity: 0.5;
    display: block;
    margin: 17px auto 0 auto;
  }
  form{
    label{
      width: 340px;
      margin: 20px auto;
    }
    input[type=text],textarea{
      background: $form_fead_input_bg;
      color: $form_fead_input_text;
      width: 340px;
    }
    textarea {
      resize:none;
      height: 130px;
    }
    .form_control{
      font-size: 0;
      input{
        width: 50%;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        line-height: 45px;
        outline: 0;
        border: 0;
        cursor: pointer;
        transition: all linear 0.3s;
      }
      input:hover{
        background: $bt-hover;
        color:$text-header-hover;
      }
      [type="submit"]{
        background: $form_fead_submit_bg;
        color: $form_fead_submit_text;
      }
      [type="reset"]{
        background: $form_fead_reset_bg;
        color: $form_fead_reset_text;
      }
    }
  }
}