$h2_dark:#373e42;
$base-color: #3b46d1;
$text_color:#474b57;
$base-bg-color:#fff;
$head-dop-color: rgba(13, 17, 32,.85);
$bt:#004cd1;
$bt_dis:#474b57;
$bt-hover: #043ea3;
$text-header:#fff;
$text-header-hover:#fff;
$icon-hover:#004cd1;
$logo_a_fon: rgba(28, 31, 41,0.5);
$footer_bg:#1c1f29;
$footer_bg_cr: rgba(8, 60, 150,.85);
$footer_text:#fff;
$dop_footer_bg: rgba(28, 31, 41,.85);;
$input_icon_color:#c4cbcd;
$input_icon_bg:#f0efe9;
$input_checkbox_fon:#0548be;
$input_checkbox_text:#eef3fb;
$input_checkbox_border:#0548be;
$input_radio_border:#ccc;
$a_hover:#083c96;
$here_slide_bg:#e3e2de;
$other_slider_shirma:rgba(170, 171, 183, .7);;
$other_slider_shirma_hover:rgba(126, 127, 138, .7);;
$slider_chenger:#fff;
$slider_chenger_shadow: 0 2px 2px rgba(0, 0, 0, .16);
$slide_this_fon:#f2f0e8;
$slide_this_text:#474b57;
$slide_skill:#083c96;
$skill_text:#243994;
$slide_href_bg:#004cd1;
$slide_href_bg_hover:#083c96;

$about_bg_left:#f2f0e8;
$about_bg_left_left_star:#1056d1;
$about_bg_right:#f4f5f0;

$comment_text:#fff;
$form_fead_back_bg: rgba(255, 255, 255,.05);
$form_fead_back_h:#fff;
$form_fead_back_h_line:#f2f0e8;
$form_fead_input_bg: rgba(255, 255, 255,.07);
$form_fead_input_text: #fff;
$form_fead_submit_bg:#004cd1;
$form_fead_submit_text:#fff;
$form_fead_reset_bg:transparent;
$form_fead_reset_text: rgba(255, 255, 255,.5);

$contact_map_bg: rgba(255, 255, 255,.7);
$contact_map_inons:#004cd1;

$blog_bg:#faf8f0;
$article-title:#455a64;
$article-hr: rgba(55, 62, 66,.07);

$video_bg:#112E5A;
$preloader_bg:#112E5A;
$preloader_color:#fff;

$slim_menu_bg:#253468;
$slim_menu_text:#fff;
$slim_menu_shadow:rgba(0, 0, 0,0.5);

$error_color:#e44845;