html{
  @include media($desktop) {
    font-size: 16PX;
  }
  @include media($laptop){
      font-size: 16PX;
  }
  @include media($tablets){
    font-size: 14PX;
  }
  @include media($phones){
    font-size: 14PX;
  }
}





body {
  overflow-x: hidden;
  margin: 0;
  background: $base-bg-color;
  background: url(/assets/img/bg_1800.jpg) no-repeat 0 50%;
  background-size: cover;
  color: $text_color;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Roboto-Light', sans-serif;
  background-attachment: fixed;
  min-height: 550px;
  @include media($tablets){
    background: url(/assets/img/bg_768.jpg) no-repeat 0 50%;
    background-size: cover;
    background-attachment: fixed;
  }
  @include media($phones){
    min-height: 0;
    background: url(/assets/img/bg_320.jpg) no-repeat 0 50%;
    background-size: cover;
    background-attachment: fixed;
  }
  @include media_retina($phones){
    background: url(/assets/img/bg_768.jpg) no-repeat 0 50%;
    background-size: cover;
    background-attachment: fixed;
  }
}
p{
  padding: 0;
  margin-bottom:0px;

}
.title-h1 {
  color: $base-bg-color;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 62px;
  font-family: SansusWebissimo;
  line-height: 56px;
}

.title-h1_about {
  position: relative;
  z-index: 99;
  margin-top: 18px;
  color: $h2_dark;
  text-align: center;
  margin-bottom: 46px;
  @include media($desktop) {
    float: left;
  }
}

.title-h2 {
  margin: auto;
  margin-bottom: 60px;
  width: 350px;
  color: $base-bg-color;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 62px;
  font-family: SansusWebissimo;
  line-height: 66px;
}

.title-h2_underline {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 35px;
  &:after {
    display: block;
    margin: 17px auto 0 auto;
    width: 89px;
    height: 3px;
    background: $form_fead_back_h_line;
    content: '';
    opacity: 0.5;
  }
}

a {
  cursor: pointer;
  transition: all linear 0.3s;
  &:hover {
    color: $a_hover;
  }
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.title-h1_work {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.page_scrolle {
  margin-top: -100px;
  margin-left: -13px;
  width: 26px;
  color: $base-bg-color;
  font-size: 28px;
  opacity: 0.7;
  cursor: pointer;
  transition: all linear 0.3s;
  &:hover {
    color: $icon-hover;
  }
}

.page_scrolle-down {
  position: absolute;
  top: 100vh;
  left: 50%;
  z-index: 99;
  margin-top: -100px;
  height: 16px;
}
.page_scrolle-work{
  margin-top: -240px;
}
.page_scrolle-up {
  display: block;
  margin: auto;
  margin-bottom: 70px;
}

.dashed-title {
  margin: 12px auto 36px auto;
  max-width: 300px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 35px;
  font-family: SansusWebissimo;
  line-height: 40px;
  &:after {
    display: block;
    margin: 10px auto;
    width: 89px;
    height: 3px;
    background-color: #566358;
    content: '';
  }
}

.night_lighthouse {
  position: relative;
  margin-bottom: -196px;
  padding-bottom: 196px;
  background: url(/assets/img/majak.png) 100% 100% no-repeat, url(/assets/img/bg_about.jpg) 50% no-repeat;
  background-size: auto, cover;
}

.hide_scroll {
  overflow: hidden;
}

.menu-sticky {
  position: fixed;
  z-index: 101;
}

.menu-stop {
  position: relative;
  z-index: 101;
}

.icon-bg {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -1016px;
  width: 2032px;
  height: 360px;
  font-size: 64px;
  fill: $base-bg-color;
}

.icon-stars1 {
  position: absolute;
  top: 4px;
  left: 50%;
  margin-left: -256px;
  width: 468px;
  height: 270px;
  opacity: .07;
  fill: $base-bg-color;
  stroke: $base-bg-color;
}

.icon-stars2 {
  position: absolute;
  top: -65px;
  left: 50%;
  z-index: 99;
  margin-left: -156px;
  width: 260px;
  height: 162px;
  opacity: 0.15;
  transform: rotate(-180deg);
  fill: $base-bg-color;
  stroke: $base-bg-color;
}

.page-wrap_index {
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100vh;
  @include media($laptop) {
    background: transparent;
  }
}

.container {
  position: relative;
}

.icon_dark {
  fill: $head-dop-color;
}
.description{
  line-height: 1.5em;
  margin-bottom: 48px;
}