.form__label {
  margin: 0 auto 20px;
  font-size: 0px;
  font-weight: 400;
  display: block;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  &:hover {
    color: $bt-hover;
  }
}
.form__label-checkbox{
  margin-bottom: 14px;
}
.form__input-icon {
  padding: 14px 0px;
  width: 45px;
  box-sizing: border-box;
  font-size: 16px;
  margin-right: -45px;
  z-index: 2;
  position: relative;
  display: inline-block;
  background: $input_icon_bg;
  color: $input_icon_color;
}

.form__input {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  outline: none;
  border: 0;
  padding: 13px 20px 13px 65PX;
  box-sizing: border-box;
  width: 100%;
}

.form__input-full_line {
  width: 100%;
  padding: 13px 20px;
}

.form__input-opacity {
  background: $form_fead_input_bg;
  color: $form_fead_input_text;
}

.form__input-textarea {
  resize: none;
  height: 130px;
}

.form__checkbox {
  display: none;
}

.form__checkbox-icon {
  color: $input_checkbox_fon;
  background: $input_checkbox_fon;
  border-radius: 2px;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  float: none;
  margin: 2px 10px 2px 0;
  transition: all 0.2s ease;
  font-size: 16px;
  padding: 2px;
  vertical-align: middle;
  cursor: pointer;
}

.form__checkbox:checked {
  + .form__checkbox-icon {
    color: $input_checkbox_text;
  }
}

.form__checkbox_text {
  font-size: 16px;
  opacity: 0.85;
  vertical-align: middle;
  cursor: pointer;
}

.form__radio-question {
  opacity: 0.8;
  display: block;
  font-weight: 700;
  font-family: Roboto-Bold;
  margin-bottom: 10px;
}

.form__radio-select {
  display: block;
  margin-bottom: 35px;
}

.form__radio-input {
  display: none;
}

.form__radio-control {
  opacity: 1;
  height: 20px;
  width: 20px;
  display: inline-block;
  background: $input_checkbox_fon;
  box-shadow: $input_checkbox_text 0px 0px 0px 10px inset;
  border-radius: 100%;
  vertical-align: top;
  margin-right: 10px;
  transition: all 0.2s ease;
}

.form__radio-input:checked {
  + .form__radio-control {
    box-shadow: $input_checkbox_text 0px 0px 0px 6px inset;
  }
}

.form__radio-ansvar {
  opacity: 0.8;
}

.form__radio-label {
  padding: 0;
  margin: 0;
  display: inline-block;
  min-width: 87px;
  text-align: left;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    color: $bt-hover;
  }
}

.form__radio-ansvar {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.form__control {
  font-size: 0;
}

.form__buttom {
  width: 50%;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: all linear 0.3s;
}

.form__buttom:hover {
  background: $bt-hover;
  color: $text-header-hover;
}

.form__buttom-submit {
  background: $form_fead_submit_bg;
  color: $form_fead_submit_text;
}

.form__buttom-reset {
  background: $form_fead_reset_bg;
  color: $form_fead_reset_text;
}