.footer {
  position: relative;
  width: 100%;
  color: $footer_text;
  text-align: center;
}

.footer__copyright {
  padding: 0;
  background: $footer_bg_cr;
  color: $footer_text;
  font-weight: 300;
  font-size: 16px;
  line-height: 38px;
}
.footer__copyright_user{
  white-space:nowrap;
  &:after{
    content: ' | ';
    @include media($phones){
      content: '';
    }
  }
  @include media($phones){
    display: block;
  }
}
.footer__copyright_text{
  white-space:nowrap;
}
.footer__full-menu {
  display: table;
  width: 100%;
  background: $dop_footer_bg;
}

.footer__full-menu__column {
  display: table-cell;
  padding: 26px 30px;
  min-width: 30%;
  vertical-align: top;
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.footer__full-menu__column_description {
  width: 350px;
}

.footer__full-menu__column_contact {
  width: 250px;
}

.footer__full-menu__column:before {
  display: block;
  float: left;
  margin-top: 4px;
  margin-left: -30px;
  width: 1px;
  height: 87px;
  background: $footer_text;
  content: "";
  opacity: 0.2;
}

.footer__full-menu__column:first-child:before {
  display: none;
}

.footer-menu__list {
  margin: 0 0 46px 0;
  padding: 0;
  white-space: nowrap;
}

.footer-menu__item {
  display: inline-block;
  margin-right: 40px;
  list-style: none;
}

.footer-menu__link {
  color: $footer_text;
  text-decoration: none;
  font-weight: 700;
  font-family: "Roboto-Bold";
}

.footer-menu__item:last-child {
  margin-right: 0px;
}

.my_linc {
  position: relative;
  top: 0;
  left: 0;
  line-height: 13px;
  a {
    margin-right: 17px;
  }
  svg {
    opacity: 0.2;
  }
  a:hover svg {
    opacity: 1;
  }
}

.footer__copyright-index {
  position: absolute;
  bottom: 30px;
  width: 100%;
  background: transparent;
  @include media($tablets){
    bottom: auto;
  }
}

.footer__full-menu-index {
  display: none;
}

//прибить подвал
html, body {
  height: 100%;
}

.page-wrap {
  margin-bottom: -38px;
  min-height: 100%;
}

.page-wrap:after {
  display: block;
  content: "";
}

.footer, .page-wrap:after {
  height: 38px;
}

.page-wrap.index:after {
  height: auto;
}