.header {
  position: relative;
  /*padding-top: 105px;
  padding-bottom: 377px;
  height: 300px;
  background-size: cover;
  text-align: center;
  */
  height: 0px;
}

.header-menu {
  position: fixed;
  top: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100vh;
}

.header-menu:before,
.header-menu:after {
  position: absolute;
  height: 100%;
  background: $bt-hover;
  content: '';
}

.header-menu_active {
  display: flex;
}

.header-menu__list {
  position: relative;
  z-index: 100;
  margin: auto;
  padding: 0;
  list-style: none;
  text-align:center;
}

.header-menu__item {
  margin: 45px 0;
  transform: rotateX(-90deg);
}

.header-menu__link {
  color: $text-header;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 63px;
  font-family: SansusWebissimo;
}

.header-menu__link:hover {
  color: $text-header;
}

.header-menu__link:after {
  display: block;
  margin: auto;
  width: 0;
  height: 3px;
  background: $text-header;
  content: '';
  transition: all linear 0.3s;
}

.header-menu__link:hover:after {
  width: 83px;
}

.welcome-menu__link {
  color: $text-header;
  cursor: pointer;
  transition: all linear 0.3s;
}

.header-menu__link {
  color: $text-header;
  cursor: pointer;
  transition: all linear 0.3s;
}

.welcome-menu {
  display: table;
  width: 100%;
}

.welcome-menu__list {
  display: table-row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu__item_index {
  display: table-cell;
}

.header-menu__item_linc {
  text-decoration: none;
}

.header__menu {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0;
  display: table;
  width: 100%;
}

.welcome-menu__list {
  display: table-row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.welcome-menu__item {
  display: table-cell;
  border-right: 1px solid $text-header;
}

.welcome-menu__link {
  display: block;
  padding: 14px;
  background: $bt;
  color: $text-header;
  text-decoration: none;
}

.welcome-menu__link:hover {
  background: $bt-hover;
  color: $text-header-hover;
}

.welcome-menu__link:active {
  text-decoration: underline;
}

.welcome-menu__item:last-child {
  border-right: 0;
}

.header__about-block_index {
  min-width: 250px;
  background: $logo_a_fon;
  transition: all 0.35s ease 0.35s;
  transform: translateZ(0) rotateY(0);
}

.header-menu-button {
  position: absolute;
  top: 23px;
  right: 31px;
  z-index: 101;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 35px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: $text-header;
  text-decoration: none;
  text-indent: -9999px;
  font-size: 0;
  cursor: pointer;
  transition: all linear 0.3s;
  appearance: none;
}

.header-menu-button:hover {
  color: $icon-hover;
  opacity: 0.3;
}

.header-menu-button_icon {
  position: absolute;
  top: 16px;
  right: 0px;
  left: 0px;
  display: block;
  height: 4px;
  background: white;
}

.header-menu-button_icon:before,
.header-menu-button_icon:after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
  transition-delay: 0.3s, 0;
  transition-duration: 0.3s, 0.3s;
}

.header-menu-button_icon:before {
  top: -15px;
  transition-property: top, transform;
}

.header-menu-button_icon:after {
  bottom: -15px;
  transition-property: bottom, transform;
}

.header-menu-button_active {
  span {
    background: none;
    &:before {
      top: 0;
      transform: rotate(45deg);
    }
    &:after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}

.header_about {
  padding-bottom: 160px;
}
