.header__menu
    ul.header__list
        li.header__item.header__item-active
            a.header__menu-linc Обо мне
        li.header__item
            a.header__menu-linc Блог
        li.header__item
            a.header__menu-linc Мои работы