extends ../_template

block variables
    - var title = 'Blog'
    - var body_css = 'blog'
block header_up
    +icon_svg('stars1')
block dop_up_element
    +icon_svg('bg')
    +icon_svg('arrow_down')
    +icon_svg('stars2')
    h1 Мои работы
block content