extends ../_template
block variables
  - var title = 'Home page'
  - var body_css = 'index'
block header_up
  a.autorisation_button(href="/#autorisation") Авторизоваться
block my-infotmation
  -var social_modificator='_index'
  include ../common/_social
  include ../common/_site_menu_index

block dop_menu
  .autorisation_menu
    .autorisation_menu__title Авторизируйся
    form.form__form
      label.form__label
        +icon_font('user','form__input-icon')
        input.form__input(name="login",placeholder="Логин")
      label.form__label
        +icon_font('key','form__input-icon')
        input.form__input(name="pass",type="password",placeholder="Пароль")
      label.form__label
        input.form__checkbox(type="checkbox",name="capcha")
        +icon_font('check','form__checkbox-icon')
        span.form__checkbox_text Я человек
      div.form__radio-select
        .form__radio-question Вы точно не робот?
        label.form__radio-label
          input.form__radio-input(type="radio",name="recapcha")
          span.form__radio-control
          span.form__radio-ansvar Да
        label.form__radio-label
          input.form__radio-input(type="radio",checked,name="recapcha")
          span.form__radio-control
          span.form__radio-ansvar Не уверен
    nav.welcome-menu
      ul.welcome-menu__list
        li.welcome-menu__item
          a.welcome-menu__link(href="#") На главную
        li.welcome-menu__item
          a.welcome-menu__link Войти
block dop_up_element
  div.block-video-bg
  .paralax
    ul.paralax-control
      li.layer.paralax__layer.paralax__layer-image(data-depth="0.5")
block content
