extends ../_template

block variables
  - var title = 'Works'
  - var body_css = 'works'
block header_up
  +icon_svg('stars1')
block dop_up_element
  +icon_svg('bg')
  +icon_svg('arrow_down')
  +icon_svg('stars2')
  h1 Мои работы
block content
  include ../common/_slider
  .bg_dop1
    section#review
      +icon_svg('stars3')
      h2 Что обо мне говорят
      .re_group
        .re_blk
          .logo_img
            img(src="/assets/img/my_photo.jpg",alt="Ковальчук Дмитрий")
          .review
            | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .r_name
            | Ковальчук Дмитрий
            span — основатель Loftschool
        .re_blk
          .logo_img
            img(src="/assets/img/my_photo.jpg",alt="Ковальчук Дмитрий")
          .review
            | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .r_name
            | Ковальчук Дмитрий
            span — основатель Loftschool
    section#feadback
      h2 Связаться со мной
      form(method="post")
        label
          input(type="text",name="name",placeholder="Имя")
        label
          input(type="text",name="mail",placeholder="Ваш email")
        label
          textarea(name="comment",placeholder="Ваша сообщение")
        .form_control
          input(type="submit",value="Отправить")
          input(type="reset",value="Очистить")