extends ../_template_admin
block variables
    - var title = 'Admin'
    - var body_css = 'admin'
block header_up
    a.autorisation-button(href="/#autorisation") Авторизоваться
block my-infotmation
    -var social_modificator='_index'
    include ../common/_social
    include ../common/_site_menu_index

block dop_menu
    include ../common/_autorisation
block dop_up_element
    div.block-video-bg
    .paralax
        ul.paralax-control
            li.layer.paralax__layer.paralax__layer-image(data-depth="0.5")
block content
