extends ../_template_admin
block variables
    - var title = 'Admin'
    - var body_css = 'admin'
block content
    .content__list
        .content__item.content__item-active
            include ./page/_about
        .content__item
            include ./page/_blog
        .content__item
            include ./page/_works