$header_bg:#00bfa5;
$header_color:#fff;

$header_menu_bg:#f0efe9;
$header_menu_link:#455a64;
$header_menu_bg_active:#fff;
$header_menu_color_active:#00bfa5;

$content_text:#455a64;
$sufix_color:#373e42;

$button_bg: #00bfa5;;
$button_text:#FFF;
$message_fon:rgba(#fff,0.85);
$message_text:$content_text;
$message_bg:#fff;

$error_color:#e44845;
$comment_text:#fff;